{#
	This is the Craft part of the in-browser "saved entries" drawer.
	Set up a route in /config/routes.php

	'saved-entries' => ['template' => '_partials/saved-entries']

	The feature relies on JavaScript, with the only bit of Craft stuff being this template, which returns an HTML fragment to the "AJAX" request.
#}
{% import '_macros/helpers.twig' as helpers -%}
{% import '_macros/images.twig' as imageHelper %}

{% set entryIds     = craft.app.request.param('entryIds') %}
{% set savedEntries = craft.entries
	.id( entryIds )
	.with([
		'listingImage'
	])
	.collect()
%}

<div class="savedEntries">
	<div class="theEntries l_liquid-grid">
		{% for savedEntry in savedEntries %}
			{% include "_partials/cardListing.twig" with {
				craftElement: savedEntry
			} %}
		{% endfor %}
	</div>
</div>
