{#
	USE:
	groupSeries, seriesProperties are optional

	{% cache %}
		{% include '_partials/cms-fields/mixed-content.twig' with {
			'parent': entry,
			'groupSeries': true,
			'seriesProperties': {
				'classes': 'l_stack',
				'dataStackSize': 'small'
			}
		} %}
	{% endcache %}

	{% cache %}
		{% include '_partials/cms-fields/mixed-content.twig' with {
			'parent': category
		} %}
	{% endcache %}
#}

{% cache %}
	{% set mixedContent = parent.mixedContent
		.with([
			'imageSingle:uncropped',
			'imageSingle:landscape32',
			'imageSingle:landscape169',
			'imageSingle:landscape2391',

			'imagesGrid:images',
			'imagesSlider:images',

			'entries:entries.listingImage',
			'files:files',
			'textByImage:image',

			'featuredLink:backgroundImage',

			'form:redirectOnSuccess'
		])
		.collect()
	%}
	{% set doGrouping = (groupSeries is defined and groupSeries) ??? false %}

	<div class="mixedContent l_stack" data-stack-size="large">
		{% for block in mixedContent %}
			{% set prevBlockType    = block.prev.type.handle ??? 'none' %}
			{% set nextBlockType    = block.next.type.handle ??? 'none' %}
			{% set currentBlockType = block.type.handle %}

			{% if doGrouping %}
				{% if
					prevBlockType != currentBlockType
					and
					currentBlockType == nextBlockType
				%}
					<div
						class="{{ block.type }}Series {{ seriesProperties.classes ??? null }}"
						data-stack-size="{{ seriesProperties.dataStackSize ??? null }}"
					>
				{% endif %}
			{% endif %}

			{% include '_partials/cms-fields/mixedcontent/' ~ currentBlockType ignore missing %}

			{% if doGrouping %}
				{% if
					prevBlockType == currentBlockType
					and
					currentBlockType != nextBlockType
				%}
					</div>
				{% endif %}
			{% endif %}
		{% endfor %}
	</div><!-- .mixedContent -->
{% endcache %}
