<div
	class="mixedContent_questionAndAnswer"
	id="block-{{ block.id }}"
	data-scroll-reveal
>
	<details>
		<summary>{{ block.question }}</summary>
		<div class="content answer">
			<div class="cms-textblock">{{ block.answer }}</div>
		</div>
	</details>
</div>
