<div
	class="mixedContent_richText cms-textblock l_stack"
	id="block-{{ block.id }}"
	data-scroll-reveal
	{% if block.allowHardToReadLineLengths %}
		data-allow-long-lines="true"
	{% endif %}
>
	{{ block.richText }}
</div>
