# http://editorconfig.org
root = true

[*]
indent_style = tab
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = true
indent_style = tab
indent_size = 2

# https://github.com/pixelandtonic/CodingStandards
# We override their preference for spaces as tabs. That is objectively a bad choice that disrespects end user preferences and has accessibility impact. Use tab characters.
[*.php]
indent_style = tab
indent_size = 2
tab_width = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
