{# Get the news items and cache them as long as possible - caching taken care of outside this include #}
{% set newsItemsEager = craft.entries
	.section('newsItems')
	.limit(2)
	.orderBy('postDate desc')
	.with([
		'listingImage',
	])
%}

{% paginate newsItemsEager as paginationInfo, paginationEntries %}
{% do seomatic.helper.paginate(paginationInfo) %}

{% if paginationInfo.currentPage != 1 %}{# Paginated URLs should not be indexed, but their links should be followed #}
	{% do seomatic.meta.robots("noindex,follow") %}
{% endif %}

{% for newsItem in paginationEntries %}
	{% if loop.first %}
		<div class="section newsItems">
			<div class="container">
			<h2>News Items</h2>
	{% endif %}

	{% include "_partials/cardListing" with {
		craftElement: newsItem,
		showPublishDate: true,
		showSaveToggle: false
	} %}

	{% if loop.last %}
			</div><!-- .container -->
		</div><!-- .section.newsItems -->
	{% endif %}
{% endfor %}

{% include '_partials/pagination-controls' %}
