{% import '_macros/helpers' as helpers -%}
{%- extends "_layout" -%}
{%- set htmlClass = 'pages ' ~ entry.type -%}

{%- block content %}<!-- Template: {{ _self }}.twig -->
	<main id="main">
		<h1>This is the homepage</h1>
	</main>
{% endblock %}