<div class="customerNavigation">
	<ul>
		<li><a href="/customer">Overview</a></li>
		<li><a href="/customer/orders">Your Orders</a></li>
		<li><a href="/customer/addresses">Your Addresses</a></li>
	</ul>
</div>
